<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>登陆</title>
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<link href="/static/css/css.css" rel="stylesheet" type="text/css">
<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/layer/layer.js"></script>
<style>
.tab {
	overflow: hidden;
	margin-top: 20px; margin-bottom:-1px;
}
.tab li {
	display: block;
	float: left;
	width: 100px;padding:10px 20px; cursor:pointer; border:1px solid #ccc; 
}
.tab li.on {
	background: #90B831; color:#FFF;padding:10px 20px;
}
.conlist {padding:30px; border:1px solid #ccc; width:300px;}
.conbox {
	display: none;
}
</style>
<script>
    $(function(){
        var now_li = 0;
        $(".tab li").each(function(i){
            $(this).click(function(){
                now_li = $(this).index();
                $(this).addClass("on").siblings().removeClass("on");
                $(".conlist .conbox").eq(i).show().siblings().hide();
            })
        });
        $('.loginbtn').click(function() {
            if(now_li == 0) {
                username = $('.b_user').val();
                pwd = $('.b_pwd').val();
                is_buyer = $('.is_buyer').val();
            } else {
                username = $('.s_user').val();
                pwd = $('.s_pwd').val();
                is_buyer = $('.is_seller').val();
            }
            $.get('/is_login/', {username: username, pwd: pwd, is_buyer: is_buyer}, function(res) {
                console.log(res);
                if(res.data == '0') {
                    layer.msg("用户名错误！");
                    return false;
                } else if(res.data == '1') {
                    layer.msg("密码错误！");
                    return false;
                } else {
                    location.href = "/test1/"
                }
            });

        });
    })
</script>
</head>

<body>
<div class="login-top">
    <div class="wrapper">
        <div class="fl font30">LOGO</div>
        <div class="fr">您好，欢迎为生活充电在线！</div>
    </div>
</div>
<div class="l_main">
    <div class="l_bttitle2"> 
        <!-- <h2>登录</h2>-->
        <h2><a href="#">< 返回首页</a></h2>
    </div>
    <div class="loginbox fl">
        <div class="tab">
            <ul>
                <li class="on">我是买家</li>
                <li>我是卖家</li>
            </ul>
        </div>
        <div class="conlist">
            <div class="conbox" style="display:block;">
                <input type="hidden" name="is_buyer" class="is_buyer" value="0">
                <p>
                    <input type="text" class="loginusername b_user">
                </p>
                <p>
                    <input type="password" class="loginuserpassword b_pwd">
                </p>
                <p><span class="fl fntz14 margin-t10"><a href="/register/" style="color:#ff6000">立即注册</a></span><span class="fr fntz12 margin-t10"><a href="#">忘记密码？</a></span></p>
                <p>
                    <input type="button" class="loginbtn" value="登  录">
                </p>
            </div>
            <div class="conbox">
                <input type="hidden" name="is_seller"  class="is_seller" value="1">
            	<p>
                    <input type="text" class="loginusername s_user">
                </p>
                <p>
                    <input type="password" class="loginuserpassword s_pwd">
                </p>
                <p><span class="fl fntz14 margin-t10"><a href="/register/" style="color:#ff6000">立即注册</a></span><span class="fr fntz12 margin-t10"><a href="#">忘记密码？</a></span></p>
                <p>
                    <input type="button" class="loginbtn" value="登  录">
                </p>
            </div>
        </div>
    </div>
    
    <div class="fr margin-r100 margin-t45"><img src="/static/images/login-pic.jpg" width="507" height="325"></div>
</div>
</body>
</html>
