<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>注册</title>
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<link href="/static/css/css.css" rel="stylesheet" type="text/css">
<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/layer/layer.js"></script>
<style>
.tab {
	overflow: hidden;
	margin-top: 20px; margin-bottom:-1px;
}
.tab li {
	display: block;
	float: left;
	width: 100px;padding:10px 20px; cursor:pointer; border:1px solid #ccc; 
}
.tab li.on {
	background: #90B831; color:#FFF;padding:10px 20px;
}
.conlist {padding:30px; border:1px solid #ccc; width:300px;}
.conbox {
	display: none;
}
</style>
<script>
    $(function(){
        var pwd = "";
        var pwd2 = "";
        var s_pwd2 = "";
        $(".tab li").each(function(i){
            $(this).click(function(){
                $(this).addClass("on").siblings().removeClass("on");
                $(".conlist .conbox").eq(i).show().siblings().hide();
            })
        });
        $("#b_username").blur(function(){
            var username = $("#b_username").val();
            if(username.length == 0) {
                layer.msg("用户名不能为空！");
                return false;
            } else if(username.length >= 32) {
                layer.msg("用户名长度不能超过32个字符！");
                return false
            }
        });
        
        $("#b_pwd").blur(function() {
            pwd = $("#b_pwd").val();
            var pwd_len = pwd.length;
            if(pwd_len == 0) {
                layer.msg("密码不能为空!");
                return false
            } else if(pwd_len < 6) {
                layer.msg("密码不能少于6位！");
                return false;
            }
        });

        $("#b_pwd2").blur(function() {
            pwd = $("#b_pwd").val();
            pwd2 = $("#b_pwd2").val();
            var pwd2_len = pwd2.length;
            if(pwd2_len == 0) {
                layer.msg("重复密码不能为空!");
                return false
            } else if(pwd2_len < 6) {
                layer.msg("重复密码不能少于6位！");
                return false;
            } else if(pwd2 != pwd) {
                layer.msg("两次密码不一样");
            }
        });

        // 卖家空值判断
        $("#s_username").blur(function(){
            s_username = $("#s_username").val();
            if(s_username.length == 0) {
                layer.msg("用户名不能为空！");
                return false;
            } else if(s_username.length > 32) {
                layer.msg("用户名长度不能超过32个字符！");
                return false
            }
        });
        
        $("#s_pwd").blur(function() {
            s_pwd = $("#s_pwd").val();
            var s_pwd_len = s_pwd.length;
            if(s_pwd_len == 0) {
                layer.msg("密码不能为空!");
                return false
            } else if(s_pwd_len < 6) {
                layer.msg("密码不能少于6位！");
                return false;
            }
        });

        $("#s_pwd2").blur(function() {
            pwd = $("#s_pwd").val();
            s_pwd2 = $("#s_pwd2").val();
            var s_pwd2_len = s_pwd2.length;
            if(s_pwd2_len == 0) {
                layer.msg("重复密码不能为空!");
                return false
            } else if(s_pwd2_len < 6) {
                layer.msg("重复密码不能少于6位！");
                return false;
            } else if(s_pwd2 != pwd) {
                layer.msg("两次密码不一样");
            }
        });
    })
</script>
</head>

<body class="l-bg">
<div class="login-top">
    <div class="wrapper">
        <div class="fl font30">LOGO</div>
        <div class="fr">您好，欢迎为生活充电在线！</div>
    </div>
</div>
<div class="l_main2">
    <div class="l_bttitle"> 
        <h2>注册</h2>
    </div>
    <div class="loginbox">
        <div class="tab">
            <ul>
                <li class="on">我是买家</li>
                <li>我是卖家</li>
            </ul>
        </div>
        <div class="conlist">
            <div class="conbox" style="display:block;">
                <form action="register/" method="post">
                    {% csrf_token %}
                    <p>
                        <div class="fl res-text">用户名：</div><div><input type="text" class="loginuser" id="b_username"></div>
                    </p>
                    <p>
                    <div class="fl res-text">密码：</div><div><input type="password" class="loginuser" id="b_pwd"></div>
                    </p>
                    <p>
                    <div class="fl res-text">确认密码：</div><div><input type="password" class="loginuser" id="b_pwd2"></div>
                    </p>
                    <p>
                    <div class="fl res-text">验证码：</div>
                    <div class="fl"><input type="password" class="loginuser2"></div>
                    <div class="fl same-code">获取验证码</div>
                    <!--<div class="fl same-code2">60秒后重新获取</div>-->
                    </p>
                    <p>
                        <input type="submit" class="loginbtn" value="注 册">
                    </p>
                </form>
            </div>
            <div class="conbox">
                <form action="" method="post">
                    <p>
                        <div class="fl res-text">用户名：</div><div><input type="text" class="loginuser" id="s_username"></div>
                    </p>
                    <p>
                    <div class="fl res-text">密码：</div><div><input type="password" class="loginuser" id="s_pwd"></div>
                    </p>
                    <p>
                    <div class="fl res-text">确认密码：</div><div><input type="password" class="loginuser" id="s_pwd2"></div>
                    </p>
                    <p>
                    <div class="fl res-text">验证码：</div>
                    <div class="fl"><input type="password" class="loginuser2"></div>
                    <div class="fl same-code">获取验证码</div>
                    <!--<div class="fl same-code2">60秒后重新获取</div>-->
                    </p>
                    <p>
                        <input type="button" class="loginbtn" value="注 册">
                    </p>
                </form>
           </div>
        </div>
    </div>
</div>
</body>
</html>
